    body {
        margin: 15%;
        margin-top: 1%;
        padding: 5%;
        border: 2px solid black;
        border-radius: 60%;
        background-color: cadetblue;
    }
    p {
        font-family: fantasy;
        font-size: medium;
        color: black;
        text-align: center;
    }
    main {
        font-family: fantasy;
        font-size: medium;
        color: black;
        text-align: center;  
        line-height: 25px;
    }
    img {
        padding: 2px;
        border: 2px solid black;
        border-radius: 5%;
    }
    .buttons {
        background-color: pink;
        height: 40px;
        width: 120px;
        border: 3px solid black;
        border-radius: 10%;
        font-family: fantasy;
        font-size: small;
        color: black;
    }
    .buttons:active {
        box-shadow: inset 0px 0px 3px;
        background-color: rgb(179, 216, 223);
        border: none;
        }